html {
    background: #333;
}

.miFormulario {
    border: solid 1px red;
    padding: 10px;
}

.contenedorInputs {
    border: solid 1px blue;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nombre apellidos" "edad edad" "opcion opcion" " dninie dninie" "politica politica";
    color: palevioletred;

}

.dninie {
    display: grid;
    grid-area: dninie;
}

.opcion {
    display: grid;
    grid-area: opcion;
}

.nombre {
    display: grid;
    grid-area: nombre;
}

/*
.nie {
    display: grid;
    grid-area: nie;
}

.dni {
    display: grid;

    grid-area: dni;
}
    */

.apellidos {

    display: grid;

    grid-area: apellidos;
}

.edad {
    display: grid;

    grid-area: edad;
}

.politica {
    display: grid;

    grid-area: politica;
}

.inputs {
    border: solid 1px yellow;
    padding: 10px;
    display: flex;
    flex-direction: column;

    input {
        background: white;
    }

    label {
        text-align: center;
    }
}