 html {
     background: #333;
     width: 100%;
     height: 100%;
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
 }


 body {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;


 }

 .boton {
     display: flex;
     justify-content: center;
     align-items: center;
 }